<div class="contenedor">
  <div >
    <div class="titulohome">
      <div >
        <h4 >PROTOCOLO DE EVALUACION BREVE DE LA AFASIA (PEBA)</h4>
      </div>
      <div class="mt-3" >
        <h6>Evaluacion de las alteraciones del lenguaje en pacientes agudos <br>
          y/o con compromisos severos <br>
          Aldo Ferreres, Andrea Micciulli, Magali Guilarducci,<br>
          Natalia F. Macchia, Micaela Difalcis, Florentina Morello Garcia
        </h6>
      </div>
    </div>
  </div>
</div>
