
  <div class="contenedor">
    <section class="form-register">
      <form >
        <h2 >Alta de paciente</h2>
        <hr style="padding: 0; margin: 0 ;">
        <div>
          <label style="text-align: left; width: 100%;" >Datos Paciente Ingresado</label>
        </div>
        <div class="divp">

          <label>Fecha Ingreso</label> <input class="controls" type="date" name="nombres" id="nombres" placeholder="Fecha"  disabled>
        </div>
        <br>
        <input class="controls" type="text" name="nombres" id="nombres" placeholder="Nombre" disabled>
        <input class="controls" type="text" name="apellidos" id="apellidos" placeholder="Apellido">
        <input class="controls" type="email" name="correo" id="correo" placeholder="Matricula" >
        <input type="checkbox" style="margin-left: 2.5%;"><label style="margin-left: 1%;"> No Corresponde</label>
        <input class="controls" type="password" name="correo" id="correo" placeholder="Direccion">
        <input class="controls" type="email" name="correo" id="correo" placeholder="Correo Electronico">
        <input class="controls" type="password" name="correo" id="correo" placeholder="Telefono">
        <hr> <span>Datos de la Cuenta</span><br>
        <input class="controls" type="email" name="correo" id="correo" placeholder="Usuario">
        <button style="margin-left: 2.5%; padding: 5px;" class="btn btn-outline-success">Verificar Usuario Disponible</button>
        <input class="controls" type="password" name="correo" id="correo" placeholder="Contraseña">
        <input class="controls" type="password" name="correo" id="correo" placeholder="Repita su Contraseña">
        <input class="controls" type="text" name="correo" id="correo" placeholder="Token de Registro">
        <br>
        <input type="checkbox" style="margin-left: 2.5%; margin-top: 1%;">
        <label style="margin-left: 1%;">Estoy de acuerdo con <a >Terminos y Condiciones</a></label>
        <input class="botons" type="button" value="Registrar"  >
    </form>
    </section>
  </div>

