<div class="area"></div>
<nav class="main-menu" >
<!--Options when you are logged in-->
  <ul *ngIf="!menuView" >
      <li>
          <a routerLink="dashboard">
              <i class="fa fa-home fa-2x"></i>
              <span class="nav-text">
                  Dashboard
              </span>
          </a>
      </li>
      <li>
        <a routerLink="adminpatient">
            <i class="fa fa-user-injured fa-2x" ></i>
            <span class="nav-text">
                Ingresar Paciente
            </span>
        </a>
    </li>
      <li>
        <a routerLink="newtest">
          <i class="fa fa-chalkboard-teacher fa-2x"></i>

            <span class="nav-text">
                Nueva Prueba
            </span>
        </a>
    </li>
      <li class="has-subnav">
          <a routerLink="history">
             <i class="fa fa-folder-open fa-2x"></i>
              <span class="nav-text">
                  Historial
              </span>
          </a>
      </li>
      <li>
          <a routerLink="graphsandstatics">
              <i class="fa fa-bar-chart-o fa-2x"></i>
              <span class="nav-text">
                  Graficas y estadisticas
              </span>
          </a>
      </li>
  </ul>

<!--Loguin-->
      <form *ngIf="menuView">
        <span class="nav-title">
          Login PEBA
        </span>

        <div class="text-center">

          <input type="text" placeholder="Usuario"  >
          <input type="password" placeholder="Contraseña">
        </div>
              <ul  >
                <li >
                  <a  (click)="login()">
                         <i class="fa fa-user fa-2x"></i>
                        <span class="nav-text">
                          Iniciar Sesion
                        </span>
                    </a>
                </li>
                <li>
                  <a routerLink="register">
                         <i class="fa fa-plus fa-2x"></i>
                        <span class="nav-text">
                          Registrarse
                        </span>
                    </a>
                </li>
            </ul>
        </form>

<!--Logout-->
  <ul class="logout" *ngIf="!menuView" >
      <li>
         <a (click)="logout()">
               <i class="fa fa-power-off fa-2x"></i>
              <span class="nav-text">
                Cerrar Sesion
              </span>
          </a>
      </li>

  </ul>
</nav>
